<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Login' }) %>
<body>
  <%- include('../partials/navbar/_navbar') %>
  <main>
    <h1>Login</h1>
    <div class="login-container">
      <form action="/login" method="POST">
        <div>
          <div class="login-input">
            <label for="email">email:</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="enter email"
              required
            />
          </div>
          <div class="login-input">
            <label for="password">password:</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="create password"
              required
            />
          </div>
        </div>
        <div class="login-button-container">
          <button class="button">Submit</button>
        </div>
      </form>
      <% if (mismatch) { %> 
        <div class="login-error">
          <p>This email/password combination does not exist.</p>
        </div>
      <% } %> 
      <a href="/register">Need an account? Register here!</a>
    </div>
  </main>
  <!-- %- include('../partials/footer/_footer') %> -->
</body>
</html>