<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Register' }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>
  <main>
    <div>
      <form action="/register" method="POST">
        <div class="register-input">
          <label for="username">username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="choose a username"
            required
          />
        </div>
        <div class="register-input">
          <label for="email">email:</label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="enter email"
            required
          />
        </div>
        <div class="register-input">
          <label for="password">password:</label>
          <input
            type="text"
            name="password"
            id="password"
            placeholder="create password"
            required
          />
        </div>
        <!-- <div class="register-input">
          <label for="password-confirm">confirm:</label>
          <input
            type="text"
            name="password-confirm"
            id="password-confirm"
            placeholder="confirm password"
            required
          />
        </div> -->
        <button>Submit</button>
      </form>
    </div>
  </main>

  <%- include('../partials/footer/_footer') %>
</body>
</html>