<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Register' }) %>
<body>
  <%- include('../partials/navbar/_navbar') %>
  <main>
    <h1>Registration</h1>
    <div class="register-container">
      <form class="register-form" action="/register" method="POST">
        <div>
          <div class="register-input">
            <label for="username">username:</label>
            <input
              type="text"
              maxlength="25"
              name="username"
              id="username"
              placeholder="choose a username"
              required
            />
          </div>
          <div class="register-input">
            <label for="email">email:</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="enter email"
              required
            />
          </div>
          <div class="register-input">
            <label for="password">password:</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="create password"
              required
            />
          </div>
          <div class="register-input">
            <label for="password_confirm">confirm:</label>
            <input
              type="password"
              name="password_confirm"
              id="password_confirm"
              placeholder="confirm password"
              required
            />
          </div>
        </div>
        <% if (username) { %>
          <div class="register-error">
            <p>That username is taken. Please try another.</p>
          </div>
          <% } else if (email) { %>
            <div class="register-error">
              <p>That email is already in use. Please try another.</p>
            </div>
        <% } else if (password) { %> 
          <div class="register-error">
            <p>Please re-enter, passwords did not match.</p>
          </div>
        <% } %> 
        <div class="register-button-container">
          <button class="button">Submit</button>
        </div>
      </form>
      <a href="/login">Already have an account? Login here!</a>
    </div>
  </main>
  <!-- %- include('../partials/footer/_footer') %> -->
</body>
</html>