.album__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album__container > h3 {
  font-size: 2rem;
}

.album__container > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name__link {
  text-decoration: none;
  color: #E89C6E;
}

.image__link > img {
  width: 100%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}