.AlbumCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .AlbumCard_nameLinkContainer {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    .AlbumCard_nameLink {
      text-decoration: none;
      text-align: center;
    }
  }
  .AlbumCard_imgContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;

    .AlbumCard_imgLink {
    
      .AlbumCard_img {
        width: 100%;
      }
    }
  }
}

.nameLink___fontSize {
  font-size: 1.5rem;
}

.img___shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
