.AlbumCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AlbumCard > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AlbumCard_nameLink {
  text-decoration: none;
  color: #E89C6E;
  font-size: 2rem;
}

.AlbumCard_imgLink > .AlbumCard_img {
  width: 100%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}