.Comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;

  .Comments_title {
    text-align: center;
  }
  .Comments_list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .Comments_commentCardContainer {
      width: 100%;
    }
  }
}