<nav>
  <div class="nav-container">
    <span class="album-love nav-link"><a href="/albums">Album Love</a></span>
    <span class="register nav-link"><a href="/register">Register</a></span>
    <span class="login nav-link"><a href="/login">Login</a></span>
    <!--  <span class="username nav-link"><a href="">%= user.username %></a></span>
    -->
    <span class="logout nav-link"><a href="/albums">Logout</a></span>
  </div>
</nav>