<nav>
  <div class="nav-container">
    <span class="album-love nav-link"><a href="/albums">Album Love</a></span>
    <i class="fas fa-music notes"></i>
    <i class="fas fa-headphones headphones"></i>
    <i class="fas fa-drum drum"></i>
    <% if (!session) { %>
      <span class="register nav-link"><a href="/register">Register</a></span>
      <span class="login nav-link"><a href="/login">Login</a></span>
    <% } else { %> 
      <img class="avatar-image" src="<%= session.avatar %>" alt="user avatar" />
      <span class="username nav-link"><a href="/users/<%= session.id %>"><%= session.username %></a></span>
      <span class="logout nav-link"><a href="/logout">Logout</a></span>
    <% } %> 
  </div>
</nav>