<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head/_head', { page: '404' }) %> 
<body>
  <%- include('../partials/navbar/_navbar') %> 
  <div class="error-container">
    <img src="https://media.giphy.com/media/3otPoNA9WjUu6ZmeJ2/giphy.gif" alt="error image" />
    <p class="error-text">Oops! Looks like you went the wrong way. Come on back this way for some more <a href="/albums">Album Love</a></p>
  </div>
  
</body>
</html>