:root {
  --prussian-blue: #163251;
  --blue-sapphire: #1E6982;
  --metallic-seaweed: #2C818C;
  --morning-blue: #7B9D97;
  --tan: #E1C5A1;
  --tan-crayola: #E89C6E;
  --burnt-sienna: #E46947;
  --cg-red: #D64236;
}

/* === General === */

body {
  margin: 0;
  background-color: var(--blue-sapphire);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
}

img {
  width: 700px;
  height: auto;
}

.button {
  width: 5rem;
  height: auto;
  color: black;
  background: var(--blue-sapphire);
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: color .4s, background .4s, border .4s;
  cursor: pointer;
  padding: 10px;
}

.collection-button {
  width: 10rem;
}

.button:hover {
  color: #d3d3d3;
  background: var(--prussian-blue);
  border: 1px solid #d3d3d3;
}

/* === Nav === */

.nav-container {
  display: grid;
  background: var(--prussian-blue);
  width: 100%;
  height: 100px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1;
  grid-template-areas: 
    'box1 . . . . . . box8 box9 box10';
}

.nav-link {
  text-align: center;
  align-self: center;
}

.nav-link a {
  color: var(--tan-crayola);
  font-size: 1.5rem;
  text-decoration: none;
}

.album-love {
  grid-area: box1;
}

.avatar {
  grid-area: box8;
  width: 45%;
  height: auto; 
  justify-self: center;
  align-self: center;
  border-radius: 50px;
}

.register {
  grid-area: box10;
}

.login {
  grid-area: box9;
}

.username {
  grid-area: box9;
}

.logout {
  grid-area: box10;
}

/* === Register === */

.register-container {
  width: 20rem;
  height: 20rem;
  margin: 6rem;
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 23px;
}

.register-container a {
  font-size: 15px;
  text-decoration: none;
  margin: 1rem;
}

.register-form {
  display: table;
  justify-content: center;
}

.register-input {
  display: table-row;
}

.register-input label, .register-input input {
  display: table-cell;
  margin: 1rem;
}

.register-form .button {
  background: var(--blue-sapphire);
  border: 1px solid black;
}

.register-form .button:hover {
  background: var(--prussian-blue);
}

.register-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* === Login === */







/* === Homepage === */

.album-search-container {
  display: flex; 
} 

.album-search {
  display: flex;
  margin: 30px 0 0 40px;
}

.search-query {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.homepage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-home-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-home-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-results {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.results-container {
  border: 2px solid var(--prussian-blue);
  border-radius: 5px;
  margin: 5px;
  display: grid;
  max-height: 450px; 
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

.search-results a {
  color: var(--tan-crayola);
  text-decoration: none;
}

.search-results p {
  font-size: 30px;
}

.search-results img {
  max-width: 300px;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1); 
}

.latest-comments {
  display: flex;
  flex-direction: column;
  gap: 40px;justify-content: center;
  align-items: center;
}

.comment-container {
  width: 100%;
  height: auto;
  max-width: 40rem;
  max-height: 10rem;
  padding: 10px;
  background-color: var(--metallic-seaweed);
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  border: 2px inset black;
  border-radius: 5px;
  justify-self: center;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1);
}

.comment-section-1 {
  width: 100%;
  max-width: 20rem;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.comment-section-1 img {
  width: 25%;
  height: auto; 
  justify-self: center;
  align-self: center;
  border-radius: 50px;
}

.comment-section-1 p {
  text-align: center;
  font-size: 1.5rem;
}

.comment-section-1 a {
  text-decoration: none;
}

.comment-section-2 {
  max-width: 400px;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.comment-content {
  align-self: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, rgb(44, 129, 140, 0));
}

.comment-section-3 {
  max-width: 9rem;
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.comment-section-3 a {
  
}

.comment-section-3 img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1);
}

/* === Album Show Page === */

.show-page {
  display: grid;
  grid-template-rows: 1.25fr .25fr 1fr;
}

.top {
  display: grid;
  grid-template-columns: .5fr repeat(8, 1fr);
  grid-template-rows: .25fr 1fr;
  grid-template-areas:
    '. album-title album-title album-title album-title artist artist release-date release-date'
    '. album-art album-art album-art album-art track-list track-list track-list track-list';
}

.bottom {
  display: grid;
  grid-template-columns: .5fr repeat(8, 1fr);
  grid-template-rows: .25fr;
  grid-template-areas: '. collection collection collection collection comment-form comment-form comment-form .';
}

.record-collection-button {
  grid-area: collection;
  justify-self: center;
  margin-top: 20px;
}

.album-name {
  grid-area: album-title;
  text-align: center;
  align-self: center;
  font-size: 2.5rem;
}

.artist-name {
  grid-area: artist;
  text-align: center;
  align-self: center;
  font-size: 1.75rem;
}

.release-date {
  grid-area: release-date;
  text-align: center;
  align-self: center;
}

.track-list-container {
  grid-area: track-list;
  justify-self: center;
}

.track-list {
  font-size: 1.5rem;
}

.track-name {

}

.show-page img {
  grid-area: album-art;
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1);
}

.comment-form {
  grid-area: comment-form;
}

.show-comments-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-template-rows: auto;
}

.show-comment-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
    'username timestamp edit-delete'
    'avatar comment comment';
  border: 2px solid black;
  border-radius: 5px;
  max-width: 100%;
  max-height: 250px;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1);
  margin: 10px;
}

.avatar-container {
  grid-area: avatar;
  display: flex;
  justify-content: center;
}

.avatar-container img {
  width: 80%;
  height: auto; 
  border-radius: 100px;
  align-self: center;
  box-shadow: none;
}

.comment-post-username {
  grid-area: username;
  display: flex;
  justify-content: center;
}

.comment-post-username a {
  text-decoration: none;
}

.show-comment-username {
  font-size: 20px;
}

.timestamp-container {
  grid-area: timestamp;
  display: flex;
  justify-content: left;
  margin-right: 20px;
}

.timestamp {
  align-self: center;
}

.edit-delete-container {
  grid-area: edit-delete;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  gap: 20px;
}

.comment-content-container {
  grid-area: comment;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.show-comment-content {

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit, .delete {
  cursor: pointer;
  color: black;
  transition: color 0.4s;
}

.edit:hover {
  color: var(--tan-crayola);
}

.delete:hover {
  color: var(--cg-red);
}


/* === User Show Page === */

.record-collection-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto;
}

.top-profile {
  height: 50px;
}

.top-profile h1 {
  margin-left: 20px;
}

.bottom-profile {
  display: grid;
}

.bottom-profile img {
  max-width: 300px;
  height: auto;
}

.record-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
  gap: 20px;
}

.record-container {
  border-radius: 5px;
  margin: 5px;
  display: grid;
  max-height: 450px; 
  grid-template-rows: 2fr repeat(3, 1fr);
  align-items: center;
}

.record-container a {
  width: 100%;
  color: var(--tan-crayola);
  text-decoration: none;
  font-size: 30px;
}

.record-container img {
  box-shadow: 0 0 5px rgba(0,0,0,.05), 10px 10px 5px rgba(0,0,0,.1);
}

.album-name-container {
  grid-row: 1 / 2;
}

.album-image-container {
  grid-row: 2 / 6;
}

