.NavBar {
  width: 100%;
  height: 100px;
  background: #26619c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavBar_brand {
  width: 45%;
}

.NavBar_brandLink {
  font-size: 2.5rem;
}

.brandLink___noDec {
  text-decoration: none;
}

.NavBar_links {
  width: 45%;
  display: flex;
  justify-content: right;
}

.NavBar_linkList {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.NavBar_link {
  font-size: 1.5rem;
}

.link___noDec {
  text-decoration: none;
}