<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon Icon -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon2.ico" />

  <!-- Main Style Sheet -->
  <link rel="stylesheet" href="/styles/main.css" />

  <!-- Karantina Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karantina&display=swap" rel="stylesheet">
  
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/e1053c6fc2.js" crossorigin="anonymous"></script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Main Javascript -->
  <script src="/scripts/app.js" defer></script>

  <% if ( typeof page !== 'undefined' ) { %>
    <title>Album Love - <%= page %></title>
    <% } else { %>
    <title>Album Love</title>  
    <% } %> 
</head>