<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Main Style Sheet -->
  <link rel="stylesheet" href="/styles/main.css" />

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Main Javascript -->
  <script src="/scripts/app.js" defer></script>

  <% if ( typeof page !== 'undefined' ) { %>
    <title>Album Love - <%= page %></title>
    <% } else { %>
    <title>Album Love</title>  
    <% } %> 
</head>